
.bod{
    border: 1px solid royalblue;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    color: royalblue;
    text-align: center;
    margin-bottom: 30px;
}

.child{
    border: 1px solid royalblue;
    padding: 30px;
    text-align: center;
    background-color: royalblue;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
}
.child:hover{
    background-color: white;
    color: royalblue;

}
.back{
    text-align: center;
    padding: 10px;
    background: black;
    width: 30%;
    color: white;
    margin: 0 auto;
    margin-bottom: 50px;
    cursor: pointer;
}

.pop{
    margin: 20px;
}