<div class="bod">
  <p>Select Training Center</p>
  <div class="child" routerLink="/day" (click)="next()">
    <p>Center Name: Center 1</p>
    <p>Location: Lagos</p>
    <p>Seats Available: 40</p>
  </div>
  <div class="child" routerLink="/day" (click)="next()">
    <p>Center Name: Center 2</p>
    <p>Location: Lagos</p>
    <p>Seats Available: 40</p>
  </div>
  <div class="child" routerLink="/day" (click)="next()">
    <p>Center Name: Center 3</p>
    <p>Location: Lagos</p>
    <p>Seats Available: 40</p>
  </div>
  <div class="child" routerLink="/day" (click)="next()">
    <p>Center Name: Center 4</p>
    <p>Location: Lagos</p>
    <p>Seats Available: 40</p>
  </div>
  <div class="child" routerLink="/day" (click)="next()">
    <p>Center Name: Center 5</p>
    <p>Location: Lagos</p>
    <p>Seats Available: 40</p>
  </div>

</div>