<p style="text-align: center; font-size: 25px; text-transform: capitalize; text-decoration: underline; margin-bottom: 50px">
  Please Take this to the location you selected while registering, Thanks.

</p>
<div style="font-size: 23px; border: 1px solid black; margin: 0 auto; width: 350px; padding: 20px">
<p>
  <b>Name</b>: Ikeola Emmanuel
</p>
<p>
    <b>Phone</b>: 08108236215
</p>
<p>
    <b>Email</b>: ikeoladarey@gmail.com
</p>
<p>
    <b>Center</b>: Center 1
</p>
<p>
    <b>Location</b>: Lagos
</p>
<p>
    <b>Time Selected</b>: 8-9 AM
</p>

<p *ngIf="clicked" style="text-align: center">
    <button  (click)="printer()" class="btn btn-primary" >PRINT</button>
</p>
</div>